@import './colors.scss';
@import './sizes.scss';
@import './media.scss';

h1 {
  font-weight: 700 !important;
  font-size: font-size('large') !important;
}

h3 {
  font-weight: 700 !important;
  font-size: font-size('medium') !important;
}

.mt-15 {
  margin-top: 1.5em;
}

.mt-20 {
  margin-top: 2em;
}

.text-align-right {
  text-align: right;
}

input {
  background-color: $fanmio-super-light-grey !important;
}

.button.is-primary {
  font-weight: bold;
}

hr {
  background-color: $fanmio-light-dark !important;
}
